/* General rules */
h1{
    border-bottom: .25rem dotted #000;
    padding-bottom: .5rem;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;
    padding-top: 1rem;
}

h3{
    font-size: 1.5rem;
    font-style: italic;
    padding-top: .5rem;
}

/* Specific rules */
.experience-content-list li{
    font-size: 1.5rem;
    list-style: square;
    margin-left: 4rem;
    padding-top: .5rem;
}

#education, #skills{
    padding-top: 2rem;
}

.skill-categories{
    font-size: 1.5rem;
    padding-top: 1rem;
}

#skill-list li{
    list-style: square;
    margin-left: 1.5rem;
}
