/* Specific rules */
#card-sort-image{
    padding-bottom: 1rem;
}

#credit p{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: .25rem;
    margin-top: 0;
}

p.card-sort{
    padding-bottom: 1.5rem;
}

.wireframes{
    border: .12rem solid #000;
}
